body{
  color: var(--text-primary-color);
}
a{
  text-decoration: none;
  color: inherit;
  &:visited{
    text-decoration: none;
    color: inherit;
  }
  &:not([class]){
    text-decoration-skip-ink: auto;
  }
}
ul[role='list'],
ol[role='list']{
  list-style: none;
}
img, picture, svg{
  max-width: 100%;
  display: block;
}
.display-none{
  display: none !important;
}