.modal-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.main-view-modal{
  width: 100%;
}

.close-modal{
  font-size: var(--fs-550);
  color: var(--text-warn-color);
  font-weight: var(--fw-bold);
  border: 2px solid var(--warn-darker-color);
  background-color: var(--warn-lighter-color);
  border-radius: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}